.calendar {
    box-shadow: 5px 5px 8px;
    width: 90%;
    font-size: 1.2em;
}
.all {
    height: 100vh;
}
.calendar-container {
    display: flex;
    justify-content: center;
}

#leftCalendar {
    padding-right: 0px;
}

.card {
    padding: 20px;
    height: 70vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}