.clinics-list {
    overflow-y: auto;
    max-height: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.clinic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: groove; 
    padding: 10px;
    margin-bottom: 5px; 
}

.clinic {
    flex-grow: 1; 
    margin-right: 10px; 
}

.book-button {
    flex-grow: 0;
}